/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
	display: block;
    list-style-type: decimal;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin site CSS */
body {
	font-family: 'Roboto', sans-serif;
	background: #333;
	color: #FFF;
}
h1 {
	font-size: 3em;
	font-weight: bold;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
h2 {
	font-size: 1.5em;
	margin-bottom: 15px;
}
b {
	font-weight: bold;
}
.header {
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}
.header a {
	text-decoration: none;
	color: #FFF;
}
.header p {
	margin-top: 5px;
}
.dialog {
	padding: 8px 20px 8px 20px;
	outline: none;
	border: 0;
	border: 1px solid #333;
	font-family: 'Roboto', sans-serif;
	color: #333;
	text-align: center;
	font-size: 1.5em;
	display: inline-block;
	margin: 0;
}
input[type="text"].dialog {
	width: 380px;
	height: 50px;
	background: #FFF;
}
input[type="button"].dialog, select.dialog {
	height: 68px;
}
input[type="button"].dialog {
	background: #1fda9a;
}
input[type="button"].dialog:hover, select.dialog:hover {
	cursor: pointer;
}
select {
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: url('select_arrow.png') no-repeat 96% #FFF;
}
.footer {
	position: fixed;
	bottom: 0;
}
.footer .container p {
	text-align: center;
}
.main .container {
	margin: 0 auto;
	width: 800px;
    height: 198px;
	text-align: center;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.info {
	text-align: left;
}
.info div {
	background: #FFF;
	color: #333;
	margin: 10px;
	padding: 20px 40px 20px 40px;
    border-top: 4px solid #f7eac8;
}
.info .total-sleep {
    border-top: 4px solid #28abe3;
}
::-webkit-input-placeholder {
   color: #444;
}
:-moz-placeholder { /* Firefox 18- */
  color: #444;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #444;
}
:-ms-input-placeholder {
  color: #444;
}

/*
#f7eac8
#db3340
#e8b71a
#1fda9a
#28abe3
*/
